<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="work">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TDweb" />
    <meta name="description" content="Portfólio de Tiago e Diogo Carvalho">
    <!-- Document title -->
    <title>TDweb - {{ work.name }}</title>
    <!-- Stylesheets & Fonts -->
    
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet"> 

    <!-- Template color -->
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="screen">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--Controller-->
    <script src="js/main.js"></script> 
    <style type="text/css">
        .work-image{
            background-image:url(images/portfolio/{{work.image}});
        }
        
        @media (max-width: 762px) {
            .work-image{
                background-image:url(images/portfolio/{{work.mobile}});
            }
        }
    </style>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
         <!-- Header -->
        <header id="header" class="header-transparent dark header-sticky-resposnive">
            
            <div id="header-wrap">
                <div class="container">
                   <!--Logo-->
                    <div id="logo">
                        <a href="index.html" class="logo" data-dark-logo="images/logo-portfolio.png">
                            <img src="images/logo-portfolio-black.png" alt="Polo Logo">
                        </a>
                    </div>
                    <!--End: Logo-->
                    
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->

                    <!--Navigation-->
                    <div id="mainMenu" class="menu-one-page">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index.html#page-content">Portfólio</a></li>
                                    <li><a href="index.html#page-quote">Contactos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->

                </div>
            </div>
        </header>
        <!-- end: Header -->
        
        <!-- Page title -->
        <section id="page-title" class="background-image work-image">

            <div class="container">

                <div class="page-title">
                    <div data-animation="fadeIn" class="text-light">
                        <h1>{{work.name}}</h1>
                    </div>

                    <div class="portfolio-attributes style1 text-light">
                        <div class="attribute" data-animation="fadeInUp" data-animation-delay="1000"><strong>Autor:</strong> {{work.autor}}</div><br>
                        <div class="attribute" data-animation="fadeInUp" data-animation-delay="1200"><strong>Serviços:</strong> {{work.title}} </div><br>
                        <div class="attribute" data-animation="fadeInUp" data-animation-delay="1400"><strong>Data:</strong> {{work.date}} </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Page title -->

        <!-- Content -->
        <section id="page-content" class="p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 center">
                        <div class="project-description text-center">
                            <h3>{{work.title}}</h3>
                            <p>Guide to the World has the guts to design and develop the impossible. With passion and a lot of expertise we create a surprisingly timeless collection of beautiful functional furniture, made with innovative and sustainable materials. Our brand represents connection.</p>
                        </div>
                    </div>
                </div>
                <div ng-show="show==1" class="col-md-10 center this-work">
                    <div class="carousel carousel-promotion m-b-40" data-items="1" data-margin="40" data-loop="true" data-autoplay="true">
                        <div ng-repeat="x in work.images" class="portfolio-item">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="#"><img src="images/portfolio/{{x.image}}" alt=""></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-show="show==0" class="col-md-10 center">
                    <img src="images/portfolio/{{work.images[0].image}}" class="img-responsive thumbnail">
                    <br>
                </div>
                <div class="portfolio-share text-center" data-animation="fadeIn">
                    <h4>Partilha este projeto</h4>
                    <div class="align-center">
                        <a class="btn btn-slide btn-light" href="#">
                            <i class="fa fa-facebook"></i>
                            <span>Facebook</span>
                        </a>
                        <a class="btn btn-slide btn-light" href="#" data-width="120">
                            <i class="fa fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                        <a class="btn btn-slide btn-light" href="#" data-width="140">
                            <i class="fa fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn btn-slide btn-light" href="mailto:#" data-width="96">
                            <i class="fa fa-envelope"></i>
                            <span>Mail</span>
                        </a>
                    </div>
                    <br><br>
                </div>
            </div>


            <div class="post-navigation">
                <a href="work.html?id={{prev.n}}" class="post-prev">
                    <div class="post-prev-title"><span>Projeto Anterior</span>{{prev.nome}}</div>
                </a>
                <a href="work.html?id={{next.n}}" class="post-next">
                    <div class="post-next-title"><span>Projeto Seguinte</span>{{next.nome}}</div>
                </a>
            </div>
        </section>
        <!-- end: Content -->

        <!-- Footer -->
        <footer id="footer" class="footer-light">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!-- Footer widget area 1 -->
                            <div class="widget widget-contact-us" style="margin-bottom: 0;">
                                <h4>Sobre WebVision</h4>
                                <ul class="list-icon">
                                    <li><i class="fa fa-user"></i> Diogo Carvalho </li>
                                    <li class="social-links"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><i class="fa fa-user"></i> Tiago Carvalho </li>
                                    <li class="social-links"><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><i class="fa fa-envelope"></i> <a href="mailto:geral@tdweb.pt">geral@tdweb.pt</a> </li>
                                </ul>
                            </div>
                            <!-- end: Footer widget area 1 -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!-- Footer widget area 3 -->
                            <div class="widget">
                                <h4>Ultimos Projectos</h4>
                                <div class="post-thumbnail-list">
                                    <div ng-repeat="x in works | limitTo:3" class="post-thumbnail-entry">
                                        <div class="post-thumbnail-content">
                                            <a href="work.html?id={{x.id}}">{{x.name}}</a> <span class="post-date"><i class="fa fa-clock-o"></i> {{x.date}}</span> <span class="post-category"><i class="fa fa-tag"></i> {{x.title | firstLabel}}</span> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Footer widget area 3 -->
                        </div>
                        <div class="col-md-6">
                            <!-- Footer widget area 4 -->
                            <!--Default Form-->
                            <div class="widget">
                                <h4>Contacte-nos</h4>
                        
                                <form method="POST" action="mail.php">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control required" name="senderName" placeholder="Nome" id="name" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="email" class="form-control required email" name="senderEmail" placeholder="Email" id="email" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control required" name="subject" placeholder="Assunto" id="subject" aria-required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control required" name="comment" rows="3" placeholder="Mensagem" id="comment" aria-required="true"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end: Footer widget area 4 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2017 TDweb. Todos os direitos reservados.</div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Wrapper -->
    <!-- Go to top button --><a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script> 
</body>

</html>
